// COLOR PALETTE
$main-black:      #151515;
$main-gray:       #EBEBEB;
$main-dark-gray:  #909090;
$main-darker-gray:#313131;
$main-orange:     rgb(189, 54, 207);
$main-yellow:     #FFF3B0;
$main-white:      #FFF;