// Partials'
@import "_constants.scss";

// Externals
@import url("normalize.css");
@import url("micons/micons.css");
@import url('https://fonts.googleapis.com/css?family=Lora:200,400,400i,700,700i|Poppins:300,400,600,700');
@import url("font-awesome/css/font-awesome.min.css");
@import "~/../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  background-color: none;
  width: 100%;
  height: auto;
}

main {
  .intro {
    background-color: $main-black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about {
    background-color: $main-white;
    height: auto;
  }

  .experience {
    background-color: $main-gray;
    height: auto;
  }

  .contact {
    background-color: $main-black;
    height: auto;
  }

  footer {
    background-color: $main-black;
    height: auto;
  }
}

.intro-heading {
  text-align: center;
  text-rendering: optimizeLegibility;

  h5, h6 {
    text-transform: uppercase;
    margin: 1.5rem;
  }

  h1 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 0.8;
    margin: 0px;
    color: $main-white;
  }

  h5 {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: .2rem;
    color: $main-yellow;
  }

  h6 {
    font-family: "lora", serif;
    font-weight: lighter;
    font-size: 0.65rem;
    line-height: 1.0rem;
    letter-spacing: 0.2rem;
    color: $main-gray;
  }

  .buttons-container {
    .button {
      border: 2.5px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.intro-social {
  position: absolute;
  height: fit-content;
  width: 18rem;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: 0 auto;

  .intro-social-item {
    padding: 0.5rem;
    height: 3rem;
    text-align: center;
    font-size: 1.3rem;

    a {
      color: $main-white;
    }

    a:hover {
      color: $main-yellow;
    }

    a:visited {
      color: $main-gray
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.375rem;
  width: 15.625rem;
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.btn-black {
  background-color: $main-black;

  a {
    text-decoration: none;
    color: $main-white;
  }

  a:hover {
    color: $main-yellow;
  }
}

.btn-transparent {
  background-color: transparent;

  a {
    text-decoration: none;
    color: $main-black;
  }

  a:hover {
    color: $main-yellow;
  }
}

p {
  font-family: "lora", serif;
  font-weight: lighter;
  font-size: 1rem;
  color: $main-dark-gray;
}


h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $main-black;
}

h4 {
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $main-black;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: $main-orange;
}

.about {
  padding: 4rem 2rem;

  .section-intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 2rem;
    text-rendering: optimizeLegibility;

    .image-cropper {
      width: 10rem;
      height: 10rem;
      margin: 1rem auto;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      float: none;

      .profile-pic {
        margin-left: -2.75rem;
        height: 10rem;
        width: auto;
      }
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-rendering: optimizeLegibility;

    p {
      @extend p;
      text-align: start;
    }
  }


  .about-content-profile {
    padding-top: 1rem;

    p {
      @extend p;
      text-align: start;
    }
  }

  .about-content-skills {
    padding-top: 1rem;

    p {
      @extend p;
      text-align: start;
    }

    .progress-bar-container {
      padding: 1rem 0;

      h5 {
        @extend h5;
        color: $main-black;
      }

      .progress {
        height: 0.4rem;
        min-height: 0.4rem;

        .progress-bar {
          background-color: $main-black;
        }
      }
    }
  }

  .buttons-container {
    padding-top: 3rem;
    padding-bottom: 3rem;

    a {
      text-decoration: none;
    }

    a:hover {
      color: $main-yellow;
    }

    .button {
      margin: 1rem auto;
      border: 2.5px solid black;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
    }

    .btn-black {
      background-color: black;
      color: white;
    }

    .btn-transparent {
      background-color: transparent;
      color: black;
    }
  }
}

.experience {
  padding: 4rem 0 5rem 0;
  text-align: center;

  .timeline-wrapper {
    h2 {
      font-weight: bold;
      font-size: 1.3rem;
      color: $main-orange;
      padding: 2rem 0;
    }

    .timeline-block {
      padding: 1rem 0;
      text-align: start;

      h3 {
        font-size: 1.1rem;
        text-transform: initial;
        letter-spacing: 0.1rem;
        text-align: start;
      }

      h4 {
        font-size: 1.0rem;
        text-align: center;
        font-weight: normal;
        letter-spacing: 0.1rem;
        text-transform: initial;
        color: $main-black;
        text-align: start;
      }

      h5 {
        font-size: 0.7rem;
        text-align: center;
        font-weight: normal;
        letter-spacing: 0.05rem;
        text-transform: initial;
        color: $main-darker-gray;
        text-align: start;
      }

      .timeline-content {
        a {
          color: $main-black;
          text-decoration: none;
        }
      }
    }
  }
}

.contact {
  padding-top: 4rem;
  text-align: center;

  h1 {
    color: $main-darker-gray;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }

  h6 {
    @extend h5;
    font-size: 0.8rem;
    padding-top: 1rem;
  }

  p {
    font-family: "poppins", sans-serif;
    font-size: 0.9rem;
    color: $main-dark-gray;
  }

  .icon-container {
    padding: 1rem 0;
    color: $main-white;

    i {
      font-size: 2.5rem;
    }
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 3rem;

  .footer-social {
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: max-content;
    left: 0;
    right: 0;
    margin: 1rem auto;

    .footer-social-item {
      padding: 0.5rem 1rem;
      height: 3rem;
      text-align: center;
      font-size: 1.3rem;

      a {
        color: $main-white;
      }

      a:hover {
        color: $main-yellow;
      }

      a:visited {
        color: $main-gray
      }
    }
  }

  .footer-copyright {
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: max-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: $main-dark-gray;

    .footer-copyright-item {
      min-width: 10rem;
    }

    a {
      color: $main-white;
    }
  }
}

// Responsive rulesets

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;

  }

  h5 {
    font-size: 1rem;
  }

  .intro h1 {
    font-size: 3.2rem;
    line-height: 0.25;
  }

  .intro h5 {
    font-size: 1.125rem;
  }

  .intro h6 {
    font-size: 0.8rem;
  }

  .intro-social {
    .intro-social-item {
      font-size: 1.5rem;
    }
  }

  .about {
    h1 {
      font-size: 1.4rem;
    }
    .section-intro p {
      margin: 2rem 0;
    }

    .section-intro .image-cropper {
      float: left;
    }
  }
}

@include media-breakpoint-up(md)  {
  h1 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .intro h1 {
    font-size: 4.5rem;
    line-height: 0.3;
  }

  .intro h5 {
    font-size: 1.25rem;
    letter-spacing: .2rem;
  }

  .intro h6 {
    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .intro-social {
    .intro-social-item {
      font-size: 1.7rem;
    }
  }

  .about {
    h1 {
      font-size: 1.6rem;
    }
    .section-intro p {
      margin: 2rem 0.25rem;
    }

    .buttons-container {
      .button {
        max-width: 20rem;
      }
    }

    .about-content-skills {
      padding-top: 0;
    }
  }

  footer {
    .footer-copyright {
      margin: 1rem auto;
    }

    .footer-copyright {
      height: 3rem;

      .footer-copyright-item {
        min-width: 10rem;
        height: fit-content;
        margin: auto 0;
      }
    }
  }
}

@include media-breakpoint-up(lg)  {
  h1 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  .about {
    h1 {
      font-size: 1.8rem;
    }

    .section-intro p {
      margin: 3rem 0.25rem;
    }

    .buttons-container {
      .button {
        max-width: 25rem;
      }
    }
  }

  footer {
    .footer-copyright {
      .footer-copyright-item {
        min-width: 15rem;
        height: fit-content;
        margin: auto 0;
      }
    }
  }
}

@include media-breakpoint-up(xl)  {
  .about {

    h1 {
      font-size: 2rem;
    }

    .section-intro p {
      margin: 4rem 0.25rem;
    }
  }
}